.features
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 6%
    
#h2Features
    width: 3%
    display: flex
    justify-content: center
    margin-bottom: 0px
    padding-bottom: 1%
    font-size: 30px
    font-weight: bolder
    color: #444444
    border-bottom: 3px solid #5846F9

#pFeatures
    padding-top: 2%
    text-align: center
    width: 90%
    font-weight: 500