.features
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 6%
    
.h2Features
    width: 3%
    display: flex
    justify-content: center
    margin-bottom: 0px
    padding-bottom: 1%
    font-size: 30px
    font-weight: bolder
    color: #444444
    border-bottom: 3px solid #5846F9

#pFeatures
    padding-top: 2%
    text-align: center
    width: 90%
    font-weight: 500

.divFeat
    display: flex
    width: 90%
    justify-content: center
    margin-top: 1%
    padding-bottom: 5%

.feat
    display: flex
    align-items: center
    gap: 2%

.txtFeatures
    display: flex
    justify-content: center
    flex-direction: column

.featuresBox
    width: 50%
    display: flex
    flex-direction: column
    gap: 10%

.pFeaturesBox
    margin-bottom: 0px
    color: #848484

.spanFeatures
    font-weight: bolder
    font-size: 25px

#iFeatures
    font-size: 35px

#imgFeatures
    width: 50%

@media (max-width: 1439px)
    .divFeat
        gap: 5%

    .spanFeatures
        font-size: 20px

    .pFeaturesBox
        font-size: 14px

    #pFeatures
        font-size: 14px

@media (max-width: 1023px)

    .divFeat
        gap: 1%

    #iFeatures
        font-size: 25px

    .pFeaturesBox
        font-size: 12px

    .spanFeatures
        font-size: 15px

    #pFeatures
        font-size: 12px

@media (max-width: 767px)

    #imgFeatures
        order: 0
        width: 60%

    .featuresBox
        order: 1
        width: 100%
        margin-top: 5%

    .feat
        margin-bottom: 5%

    .divFeat
        margin-top: 5%
        flex-direction: column
        align-items: center
        gap: 2%


