.tech
    height: 750px
    display: flex
    justify-content: center
    flex-direction: column
    
.h2Tech
    margin-top: 3%
    margin-left: 5%
    color: #444444

.techButtons
    display: flex
    justify-content: center
    gap: 1%

.techBtn
    border: none
    border-bottom: 2px solid #B6B6BF
    background-color: transparent
    font-weight: 400
    font-size: 18px
    &:hover
        border-bottom: 2px solid #D7DCDF
        transition: 0.3s

.techBox
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    gap: 5%
    padding-top: 2%

.techContainer
    width: 80%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    animation: appear 0.3s ease-in-out forwards

.techContentBox
    width: 100%
    display: flex
    gap: 15%

.techContent
    padding-top: 3%
    width: 33%
    text-align: center

.imgTech
    width: 100%
    height: 206px
    object-fit: cover
    object-position: center
    margin-bottom: 3%


.spanTech
    font-weight: 600
    font-size: 25px

.pTech
    color: #848484

.subtitleTech
    color: #676775
    font-size: 15px

.titleTech
    font-weight: bold
    font-size: 40px

.activeTech
    border-bottom: 2px solid black
    transition: 0.3s

.inactiveTech
    border-bottom: 2px solid #B6B6BF
    transition: 0.3s

@keyframes appear
    0%
        opacity: 0
    100%
        opacity: 1

@media (max-width: 1024px)

    .tech
        height: 650px

    .titleTech
        font-size: 30px

    .techContentBox
        gap: 3%

    .techBtn
        font-size: 18px

@media (max-width: 768px)
    
    #h2Tech
        margin-bottom: 3%
        font-size: 30px

    .techContentBox
        gap: 1%

    .techBox
        padding-top: 4%

    .techContainer
        width: 90%

    .tech
        height: 600px

    .spanTech
        font-size: 20px

    .pTech
        font-size: 14px

    .techBtn
        font-size: 16px

@media (max-width: 767px)

    #h2Tech
        font-size: 25px
    
    .techContentBox
        flex-direction: column
        align-items: center
    
    .techContent
        width: 90%
        gap: 2%

    .tech
        height: 1150px
